.home-wrapper--container{
display: flex;
padding: 0;
}
.books{
    width: 100%;
}
.books-container{
    padding: 40px 0 40px 30px;
    width: 100%;
    min-height:980px;
    display: grid;
    grid-template-columns: repeat(auto-fill,282px);
    grid-auto-rows: 431px;
    gap: 33px;
    justify-content: center;
}
.next-btns{
    width: 100%;
    width: 372px;
    margin: 0 auto;
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
}
